@font-face {
  font-family: "phosphene";
  src: url(assets/fonts/PhospheneFont-Regular.ttf);
}

@font-face {
  font-family: "geist-mono";
  src: url(assets/fonts/GeistMono-Regular.ttf);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  min-height: 100vh;
  font-family: "geist-mono", monospace;
  padding: 24px;
  
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-family: "phosphene", sans-serif;
  font-size: 42px;
  padding-top: 18px;
}

.subtitle {
  font-size: 18px;
  opacity: 0.7;
  padding: 10px 0;
}

/* Tiles grid */
.tiles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
}

/* Tile */
.tile {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s ease;
}

/* Locked & unlocked */
.tile.unlocked:hover img {
  transform: scale(1.08);
  cursor: pointer;
}

.tile.locked {
  opacity: 0.35;
  filter: grayscale(100%);
  cursor: not-allowed;
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 420px;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
}

#modal-date {
  font-family: "phosphene", sans-serif;
  margin-bottom: 10px;
}

#modal-text {
  margin-bottom: 16px;
  line-height: 1.5;
}

#modal-image {
  width: 100%;
  border-radius: 12px;
  display: none;
}

.blank-space {
  text-align: center;
  margin-top: 60px;
  font-size: 14px;
  color: #555;
}

.mute-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}


/* Responsive */
@media (max-width: 900px) {
  .tiles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .tiles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 32px;
  }
}
